# Enable Rewrite Engine
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Remove .html extension from URLs
  RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
  RewriteRule ^ /%1 [L,R=301]

  # Internally add .html extension to files
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Serve index.html for root
  DirectoryIndex index.html
</IfModule>
