name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_VPS_HOST }}
          username: ${{ secrets.PROD_VPS_USERNAME_FABRIK }}
          key: ${{ secrets.PROD_VPS_SSH_KEY }}
          port: ${{ secrets.PROD_VPS_PORT }}
          script: |
            cd /home/${{ secrets.PROD_VPS_USERNAME_FABRIK }}/web/unojersey.com/public_html
            chmod +x deploy.sh
            ./deploy.sh
